@model CourseWork.Models.Data.ResidenceDTO

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this reservation?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Room
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rooms.RoomID)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.FirstName)
            @Html.DisplayFor(model => model.Users.LastName)
        </dd>

        <dt>
            Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            End Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to Reservation", "Index", "", new { @class = "btn btn-secondary", @style = " margin-top: 5px" })
        </div>
    }
</div>
